.header_blue {
            background: #1565c0;
            padding: 80px 0 20px;
            color: #fff;
            font-size: 48px;
            font-weight: 300;
            margin-bottom: 40px;
        }
        .header_text {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
        body{
            margin:0;
            font-family:Roboto, sans-serif;
            color:#444;
        }
        .unlockBtn:hover{
            box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
        }
        .unlockBtn {
            background: #2196f3;
            border: none;
            border-radius: 2px;
            box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
            min-height: 31px;
            min-width: 70px;
            padding: 2px 16px;
            text-align: center;
            text-shadow: none;
            text-transform: uppercase;
            -webkit-transition: all 280ms ease;
            transition: all 280ms ease;
            box-sizing: border-box;
            cursor: pointer;
            -webkit-appearance: none;
            display: inline-block;
            vertical-align: middle;
            font: 500 14px/31px Roboto,sans-serif!important;
            outline: 0!important;
            color:white;
        }
        .content-container{
            width:80%;margin:0 auto;
        }
        @font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'),local(Roboto-Light),url(fonts/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'),local(Roboto-Light),url(fonts/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local(Roboto-Medium),url(fonts/oOeFwZNlrTefzLYmlVV1UBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local(Roboto-Medium),url(fonts/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000}
        body{
  font-family: -apple-system, BlinkMacSystemFont, 'Arial', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e0e0e0;
  overflow-x: hidden; 
}
::-webkit-scrollbar {width: 1px;}  
canvas {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
}
.spns {
    color: #b1b1b1;
    font-size: 15px;
    padding: 0 55px;
}  
.responsive-iframe {
    margin-top: 5px;
    top: 0;
    left: 0;
    height: 50px;
    border: none;
}
.jdl-hdr {
    background-image: url(https://github.com/Benonym/Website/assets/137660861/ec7bf818-b7a1-41b7-9c9a-b64c2af1f90c);
    text-align: center;
    background-color: #fafafc;
    padding: 150px 15px;
    padding-bottom: 1px;
    font-weight: bold;
    font-size: 30px;
    color:#007FFF;
    text-shadow: 0 0 5px #3c3c3c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36%;
    border-radius: 8px 8px 0 0;
}  
.selectedimage { height: 135px;} 
@keyframes pulsel{
  25% {transform: scale(0.9); }
  75% {transform: scale(1); }
}  
.hulu {
    font-size: 25px;
    color: #fafafc;
    font-weight: bold;
    background-color: #00000073;
    border-radius: 8px;
    padding: 5px;
}
.loader{ padding-top: 40px;}  
.Main1 {
	height: auto;
	padding: 15px;
	padding-bottom: 10px;
	margin-top: 5px;
	position: relative;
}
a:-webkit-any-link {
    color: #22e4ad;
    cursor: pointer;
    text-decoration: none;
}  
.hideform { display: none;
}
.maxs {
    max-width: 700px;
    width: 94%;
    text-align: center;
    margin: 10px auto;
    background-color: #ffffffd9;
    border-radius: 8px;
    box-shadow: 0 0 25px 5px #838383;
    position: relative;
}
.Platform {
	padding:10px;
	margin: 0px;
	background-color: rgb(186,186,186);
	border-radius: 8px;
	border-color: rgb(227,227,227);
	border-style: solid;
}
.Packket {
    padding: 20px 0 40px 0;
    margin: 0px;
    height: auto;
    border-radius: 8px;
    background-color: #000000a3;
}
.Packket2 {
    min-height: 250px;
    padding: 10px;
    animation: animatezoom 0.6s;
} 
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 74px;
	width: 107px;
	background-color: #f2f2f2;
	border-radius: 8px;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
h3 {
    max-width: 560px;
    width: 90%;
    font-size: 18px;
    margin: 5px auto 15px;
    color: #7FFF00;
}
.nyod { animation: pulsel 1.5s ease-in infinite;}
button {
    padding: 10px 30px;
    margin: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    background-color: #00000000;
    color: #262626;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    animation: pulsel 2s ease-in infinite;
    box-shadow: 0 0 20px 0px #838383;
}
.footer {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    padding: 15px 55px;
    color: rgb(155, 155, 155);
    background-color: #fafafc;
    border-radius: 0 0 8px 8px;
}
.recent {
	height:100px;
	position: relative;
	text-align:center;
    color: #1bffa6;
	margin-bottom: 10px;
	padding-top: 10px;
	background-color: rgb(186,186,186);
	border-radius: 8px;
	border: 1px solid #d9d9d9;
	height: 100px;
    border-radius: 8px;
}
div.step {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: red;
	bottom: 10px;
	left: 10px;
	border-radius: 50px;
	z-index: 2;
	border: 1px solid #d9d9d9;
}
div.step2 {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: red;
	bottom: 10px;
	right: 10px;
	border-radius: 50px;
	z-index: 2;
	border: 1px solid #d9d9d9;
}
div.step3 {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: red;
	bottom: 10px;
	right: 50%;
	border-radius: 50px;
	z-index: 2;
	border: 1px solid #d9d9d9;
}
.containerPack {
	position: relative;
	padding-left: 195px;
	cursor: pointer;
	font-size: 255px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.containerPack input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.containerPack:hover input ~ .checkmarkPack {background-color: #ccc;}
.containerPack input:checked ~ .checkmarkPack {opacity: 1;}

.containerPack input:checked ~ .checkmarkPack:after {display: none;}
.checkmarkPack {
    opacity: 1;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    height: 285px;
    width: 180px;
    border-radius:15px;
    border: 1px solid white;
    animation: animatezoom 0.6s
}
.checkmarkPack.card1 {
	background-image: url("https://github.com/Benonym/Website/assets/137660861/492c7da5-0884-4256-8eaf-85e4dd4fbcfb");
}
.checkmarkPack.card2 {
	background-image: url("https://github.com/Benonym/Website/assets/137660861/c23ce6a3-53a9-4ba2-8d99-506d1fc77ca7");
}
.checkmarkPack.card3 {
	background-image: url("https://github.com/Benonym/Website/assets/137660861/f3e7ab1b-c381-46b2-8bad-2eb3601da8cd");
}
.checkmarkPack.card4 {
	background-image: url("https://github.com/Benonym/Website/assets/137660861/2f25b419-d7ba-4002-8f51-da993bdbe86a");
}
.checkmarkPack.card5 {
	background-image: url("https://github.com/Benonym/Website/assets/137660861/642294c0-50c4-439e-90ce-42da26ae9d83");
}
.checkmarkPack.card6 {
	background-image: url("https://github.com/Benonym/Website/assets/137660861/6456c1da-9d49-4234-8572-a83db7743556");
}
.checkmarkPack.card7 {
	background-image: url("https://github.com/Benonym/Website/assets/137660861/44606c56-afb1-4c2b-861e-8bef0a167e87");
}
.checkmarkPack.card8 {
	background-image: url("https://github.com/Benonym/Website/assets/137660861/e5974c19-1b81-4a84-ab61-86605cf5131f");
}
.checkmarkPack.card9 {
	background-image: url("https://github.com/Benonym/Website/assets/137660861/9f068d71-7fe4-4f9e-a0aa-16b48dceadb1");
}
.checkmarkPack.card10 {
	background-image: url("https://github.com/Benonym/Website/assets/137660861/f5c30f0d-fe0c-4864-b1df-1e90fbb1a553");
}
.checkmarkPack.card11 {
	background-image: url("https://github.com/Benonym/Website/assets/137660861/89bc74b5-65cb-4a92-b915-f3db38716708");
}
.checkmarkPack.card12 {
	background-image: url("https://github.com/Benonym/Website/assets/137660861/3a01ce99-4efb-4387-9dff-9800e243c772");
}
.percent {
	color: #fafafc;
	left: 40px;
	font-size: 18px;
	z-index: 2;
    margin-bottom:20px;
    margin-top:50px;
}
.Lastcode {
    font-size: 21px;
    text-align: center;
    color: #081e01;
    border-radius: 8px;
    padding-top: 5px;
    width: 100%;
}  
@media only screen and (max-width:680px){
   .Main1 {
     height: auto;
     padding: 5px;
   }
   .Lastcode { font-size: 20px;}
   .footer{
     padding: 15px 20px;
     font-size: 14px;
   }
    h1 { font-size: 16px; }
   .hulu { font-size: 18px;}
   .containerPack {
     padding-left: 165px;
     padding-right: 5px;
     font-size: 242px;
   }
   .checkmarkPack {
     height: 254px;
     width: 160px;
     margin-left: 3px;
   }
  .Packket { padding: 15px 0 20px 0;}
  .jdl-hdr{
    padding-bottom: 7px;
    padding-top: 115px;
    background-size: 48%;
    font-size: 25px;
  }
  .spns {
    color: #b1b1b1;
    font-size: 15px;
    padding: 0 15px;
  }
}
@media only screen and (max-width:360px){
   .checkmarkPack {
     height: 238px;
     width: 150px;
   }
   .containerPack {
     padding-left: 155px;
     font-size: 200px;
   }
}
.anzoom { animation: animatezoom 0.6s}  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}  